<%- include('_partials/header') %>

<div class="container">

      
  <div>
    <a href="/show?location=<%= location %>">TRY AGAIN</a>
  </div>

  <div>
    <%= restaurant.name %></br>
    <%= restaurant.categories[0].title %></br> 
    <%= restaurant.price %></br> 
    <%= restaurant.rating %></br> 
    <%= restaurant.location.display_address.join(", ") %> </br> 
    <img src=<%= restaurant.image_url %> height="80">
  </div>

  <form method="POST" action='/restaurants/<%= restaurant.id %>/like'>
    <button type="submit">Like</button>
  </form>

  <div id="map"></div>

</div>

<%- include('_partials/footer') %>