<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Don't Think, Just Eat</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- jQuery (required by Materialize) -->
  <script defer src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script defer src="/javascripts/app.js" defer></script>
  <!-- [OLD] Google Maps API script was below -->

  <!-- Google Maps API styling -->
  <style>
    /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo left">Don't Think, Just Eat</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (user) { %>
            <li>
              <a href="/logout">
                <i class="material-icons left">trending_flat</i>Log Out</a>
            </li>
            <% } else { %>
              <li>
                <a href="/auth/google">
                  <i class="material-icons left">vpn_key</i>Login with Google</a>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>

<div class="container restaurant-card">
  
  <div class="row">
    <div class="col s6 center-align">
      <form method="POST" action="/show?location=<%= location %>">
        <button class="btn waves-effect waves-light" type="submit">
          Try Again!
          <i class="material-icons right">autorenew</i>
        </button>
      </form>
    </div>
    <div class="col s6 center-align">
      <form method="POST" action='/restaurants/<%= restaurant.id %>/like'>
        <button class="btn waves-effect waves-light" type="submit" action='/restaurants/<%= restaurant.id %>/like'>
          Add to Favorites
          <i class="material-icons right">favorite</i>
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align">
      <div>
        <h2><%= restaurant.name %></br></h2>
        <h5><%= restaurant.categories[0].title %> | <%= restaurant.price %> | <%= restaurant.rating %></h5></br> 
        <%= restaurant.location.display_address.join(", ") %> </br> 
        <img src=<%= restaurant.image_url %> height="400">
      </div>
    </div>
  </div>

  <div class="row">  
    <div id="map"></div>
      <script>
        function initMap() {
          var thisPlace = {
            lat:<%= restaurant.coordinates.latitude %>, lng: <%= restaurant.coordinates.longitude %>
          }
          var map = new google.maps.Map(document.getElementById('map'), {
            center: thisPlace, zoom: 18
          });
          var marker = new google.maps.Marker({
            position: thisPlace, map
          });
        }
      </script>
  </div>  
  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5RQ6cc6OkWYAyRt4FOZwAJnAz1NyD1fQ&callback=initMap" async defer></script>
<!-- Using Underscore for collection manipulation and client-side templatin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

</body>

</html>