<!DOCTYPE html>
<html>

<head>
    <title>Don't Think, Just Eat</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <a href="/" class="brand-logo left">Don't Think, Just Eat</a>
    <!-- new html below -->
    <ul class="right">
        <% if (user) { %>
            <li>
                <a href="/logout">
                    <i class="material-icons left">trending_flat</i>Log Out</a>
            </li>
            <% } else { %>
                <li>
                    <a href="/auth/google">
                        <i class="material-icons left">vpn_key</i>Login with Google</a>
                </li>
            <% } %>
    </ul>

    <div>
        <% if (restaurantData) { %> 
            <% restaurantData.businesses.forEach(function(biz) { %>
                <%= biz.name %>
                <%= biz.categories[0].title %>
                <%= biz.price %>
                <%= biz.rating %>
                <img src=<%= biz.image_url %> height="50">
            <% }); %>
        <% } %> 
    </div>

<!-- 
    <% restaurantData.businesses.forEach(function(restaurant) { %> 
        <%= restaurant.name %>  
    <% }); %>  -->

    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Using Underscore for collection manipulation and client-side templatin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="javascripts/app.js"></script>
</body>

</html>