<%- include('../_partials/header') %>

<div class="container">
  
  <h1>Your Favorites</h1>
  
  <div class="row">
    <div class="col s3">
      <img src=<%=user.avatar %>>
      <%= user.name %></br>
      <%= user.location %>
        <form method="POST" action='/users/<%= user.id %>?_method=PUT'>
          <input type="text" name="location" value="<%= user.location %>"> <!-- Remove value?  --> 
          <button type="submit">Update Location</button>
        </form>
    </div>
    <div class="col s9">
      <% user.favorites.forEach(function(restaurant) { %>
          <img src=<%= restaurant.image %> height="250"></br>
          <%= restaurant.name %></br>
          <%= restaurant.categories.join(', ') %></br> 
          <%= restaurant.price %></br> 
          Rated <%= restaurant.rating %>/5 by <%=restaurant.reviewCount %> Users </br>
          <form method="POST" action='/restaurants/<%= restaurant.id %>/unlike?_method=DELETE'>
            <button type="submit">Unlike</button>
          </form>
        </br></br>
          <!-- <% if (restaurant.notes.length > 0) { %>
            <%= restaurant.notes[0].content %></br> 
          <% } %>  --> <!-- Looks Better Without This --> 


          <!-- Could we wrap these comments in a neat little container?--> 
          <form method="POST" action='/favorites/<%= restaurant.id %>'>
            <input type="text" name="content">
            <button type="submit">Add Note</button>
          </form>
          <div class="commentButtons"
          <% restaurant.notes.forEach(function(note) { %>
            <form method="POST" action='/favorites/<%= restaurant.id %>/notes/<%= note._id %>?_method=PUT'>
              <input type="text" name="content" value="<%= note.content %>">
              <button id="updateButton" type="submit">Update Note</button>
            </form>
            <form method="POST" action='/favorites/<%= restaurant.id %>/notes/<%= note._id %>?_method=DELETE'>
              <button id="deleteButton" type="submit">Delete Note</button>
            </form>
          <% }); %>
          </div> 

        </br>
        </br> 
      <% }); %> 
  

    <!-- Materialize Card code below -->  
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">This is a link</a>
          </p>
        </div>

        <!-- Add Google Maps here, on the reveal? -->
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title
            <i class="material-icons right">close</i>
            <div id="map"></div>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>

      </div>

    </div>
  </div>
</div>

<%- include('../_partials/footer') %>